body {
    font-family: sans-serif;
}

table {
    border-collapse: collapse;
}

th, td {
    border: 1px solid gray;
    padding:  0.5rem;
}

input, select, label {
    display:  block;
}

input, select {
    margin-bottom: 1rem;
}

select {
    padding:  0.25rem;
}

textarea {
    width:  250px;
}

.toggled-liability-field {
    display: none;
}

.multiselect {
    width:  100px;
    height: 200px;
}

.optional-field-template {
    display:  none;
}

.optional-field-wrapper {
    margin-top:  1rem;
    width:  500px;
    display: flex;
    justify-content: space-between;
}
